<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ProjetMdoc</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CompteurServlet</servlet-name>
    <servlet-class>CompteurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompteurServlet</servlet-name>
    <url-pattern>/CompteurServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserInfo</servlet-name>
    <servlet-class>UserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfo</servlet-name>
    <url-pattern>/UserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FormulaireServlet</servlet-name>
    <servlet-class>FormulaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormulaireServlet</servlet-name>
    <url-pattern>/FormulaireServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newContact</display-name>
    <servlet-name>newContact</servlet-name>
    <servlet-class>newContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newContact</servlet-name>
    <url-pattern>/newContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteContact</display-name>
    <servlet-name>DeleteContact</servlet-name>
    <servlet-class>DeleteContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteContact</servlet-name>
    <url-pattern>/DeleteContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateContact</display-name>
    <servlet-name>UpdateContact</servlet-name>
    <servlet-class>UpdateContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateContact</servlet-name>
    <url-pattern>/UpdateContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchContact</display-name>
    <servlet-name>SearchContact</servlet-name>
    <servlet-class>SearchContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchContact</servlet-name>
    <url-pattern>/SearchContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchContactNext</display-name>
    <servlet-name>SearchContactNext</servlet-name>
    <servlet-class>SearchContactNext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchContactNext</servlet-name>
    <url-pattern>/SearchContactNext</url-pattern>
  </servlet-mapping>
</web-app>